<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.location.dao.LocationMapper">
    <sql id="locationField">code,name,type, parent_code</sql>
    <!--查询-->
    <select id="selectLocationByKey" resultType="Location">
        select <include refid="locationField"/> from tb_location where code = #{code}
    </select>
    <select id="selectLocationByName" resultType="Location">
        <bind name="namePattern" value="name + '%'"/>
        select <include refid="locationField"/> from tb_location where name like #{namePattern}
    </select>

    <select id="selectLocation" resultType="Location">
        select <include refid="locationField"/> from tb_location
    </select>
</mapper>